# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.a
*.dll
*.so
# 不忽略3rd文件夹
!3rd/**/*.lib
!3rd/**/*.dll
!3rd/**/*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 忽略.vs folder
**/.vs/